* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  min-height: 4096px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25vh; /* Hauteur du footer */
  background-color: rgb(255, 196, 0); /* Couleur initiale */
  transition: background-color 1.30s ease; /* Transition fluide */
  border-top: 5px #000 solid;
}

